


table,th,td,tr{
    border:2px black solid;
    border-collapse: collapse;
    background-color: aquamarine;
    border-color: palevioletred;
}
body{
    background: url("background.jpg") no-repeat center top;
}
.biru{
    color: blue;
}
